*{
    margin: 0;
    padding: 0;
    font-family: Gilroy;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    position: relative;
}
body::-webkit-scrollbar{
    display: none;
}
#page1{
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 246, 240);
}
#nav{
    width: 7%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid rgb(59, 58, 58);
}
#nav i{
    font-size: 1.6vw;
    margin: 5px;
}
img{
    position: absolute;
    margin-left: 8%;
    margin-top: -47%;
}
button{
    width: 140px;
    height: 60px;
    border-radius: 2px;
    font-size: 1.3vw;
    border: 2px solid rgb(98, 96, 96);
    background-color: black;
    color: white;
    position: absolute;
    margin-left: 90%;
    box-shadow: 2px 5px 6px -3px rgb(182, 92, 92);
    margin-top: -48%;

}
h1{
    font-size: 9vw;
    position: absolute;
    margin-top: -39%;
    font-weight: 1500;
    color: #0b72ad;
    text-transform: uppercase;
    text-align: center;
    margin-left: 25%;
}
#hoppy{
    z-index: 99999;
        position: fixed;
        margin-left: 38%;
        height: 80%;
}

#page2{
    width: 100%;
    height: 100vh;
    background-color: rgb(253, 254, 253);
}
h4{
    margin-left: 8%;
    font-size: 1.5vw;
    font-family: Glitten;
}
#page2 h1{
    font-size: 6vw;
    color: black;
    text-transform: uppercase;
    text-align: left;
    margin-top: 1%;
    margin-left: 7%;
}
#page2 h5{
    font-size: 1.3vw;
    font-weight: 100;
    text-transform: uppercase;
    margin-left: 7%;
    margin-top: 16%;
}
#page2 p{
    font-family: Glitten;
    font-size: 1.2vw;
    margin-left: 7%;
    margin-right: 47%;
    margin-top: 1%;
}
#page2 button{
    width: 140px;
    height: 60px;
    border-radius: 2px;
    font-size: 1.3vw;
    border: 2px solid rgb(98, 96, 96);
    background-color: black;
    color: white;
    position: absolute;
    margin-left: 7%;
    box-shadow: 2px 5px 6px -3px rgb(34, 33, 33);
    margin-top: 7%;
}
#box{
    width: 30%;
    height: 85%;
    margin-left: 57%;
    margin-top: -20%;
    border: 2px solid black;
}
#page2 #box h4{
    margin-top: 17%;
    margin-left: 8%;
    text-transform: uppercase;
}
#page2 #box h3{
    margin-left: 8%;
    margin-top: 3px;
    border-bottom: 3px solid black;
    font-family: Glitten;
text-transform: uppercase;
}
#inter5{
    width: 90%;
    height: 28%;
    margin-left: 8%;
    border-bottom: 2px solid black;
}
#inter5 h2{
    font-size: 4vw;
}
#inter5 p{
    font-size: 1vw;
    margin-left: 23%;
    margin-right: 0%;
    margin-top: -14%;
}
#inter5 h1{
    font-size: 1.7vw;
    margin-left: -.1%;
    margin-right: 25%;
    margin-top: 2%;
}
#inter5 h6{
    font-size: 1vw;
    margin-top: 2%;
}
#ogiginal51{
    width: 90%;
    height: 28%;
    margin-left: 8%;
    border-bottom: 2px solid black;
}
#ogiginal51 h2{
    font-size: 4vw;
}
#ogiginal51 p{
    font-size: 1vw;
    margin-left: 23%;
    margin-right: 0%;
    margin-top: -14%;
}
#ogiginal51 h1{
    font-size: 1.7vw;
    margin-left: -.1%;
    margin-right: 25%;
    margin-top: 3%;
}
#ogiginal51 h6{
    font-size: 1vw;
    margin-top: 2%;
}
#praghar1{
    width: 90%;
    height: 20%;
    margin-left: 8%;
}
#praghar1 h2{
    font-size: 4vw;
}
#praghar1 p{
    font-size: 1vw;
    margin-left: 23%;
    margin-right: 0%;
    margin-top: -14%;
}
#page3{
    width: 100%;
    height: 100vh;
    background-color: rgb(253, 254, 253);
}
#page3 h1{
    font-size: 16vw;
    color: #0b72ad;
    margin-left: 7%;
    margin-top: 3% ;
}
#page3 img{
    margin-top: 23%;
}
#page3 p{
    position: absolute;
    margin-left: 65%;
    margin-top: 23%;
    font-family: Glitten;
}
#page3 h3{
    position: absolute;
    font-size: 3vw;
    margin-top: 33%;
    margin-left: 65%;
}
#page3 h4{
    font-size: 1vw;
    position: absolute;
    margin-left: 65%;
    margin-top: 38%;
}
#page4{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(253, 254, 253);
}
#page4 h1{
    font-size: 11vw;
    color: #0b72ad;
    margin-left: 7%;
    margin-top: 3% ;
}
#page4 h5{
    font-size: 2vw;
    position: absolute;
    margin-top: 16%;
    margin-left: 7%;
}
#line{
    width: 30%;
    height: 2px;
    margin-left: 7%;
    margin-top: 19%;
    position: absolute;
    background-color: black;
}
#line2{
    width: 30%;
    height: 4px;
    margin-left: 7%;
    margin-top: 19.5%;
    position: absolute;
    background-color: black;
}
#page4 h2{
    position: absolute;
    font-size: 4vw;
    margin-top: 21%;
    margin-left: 7%;
}
#page4 p{
    font-family: Glitten;
    font-size: 1vw;
    position: absolute;
    margin-left: 19%;
    margin-top: 22%;
    margin-right: 60%;
}
#dog{
    width: 40%;
    height: 45%;
    position: absolute;
margin-top: 18%;
margin-left: 56%;
}
#dog h6{
    font-size: 1.5vw;
    margin: 5px;
    position: absolute;
    font-family: Glitten;
}
#dog img{
    width: 25%;
    height: 45%;
    z-index: 999;
    margin-top: 2%;
    margin-left: 65%;
}
#dog #dogline{
    width: 100%;
    height: 2px;
    margin-top: 23%;
    position: absolute;
    background-color: black;
}
#dog #dogline2{
    width: 100%;
    height: 3px;
    margin-top: 23.5%;
    position: absolute;
    background-color: black;
}
#dog h3{
    font-size: 3vw;
    margin-top: 23%;
    margin-left: 2%;
}
#dog h3:hover{
    color: #0b72ad;
    cursor: pointer;
}
#dog h5{
    margin-top: -1%;
    font-size: 1.2vw;
    margin-left: 3%;
    font-family: Glitten;
}
#dog h5:hover{
    color: #0b72ad;
    cursor: pointer;
}
#fact{
    width: 40%;
    height: 35%;
    margin-top: 3%;
    opacity: 0;
    margin-left: 3%;
}
#fact h6{
    font-size: 1.2vw;
    border-bottom: 2px solid black ;
}
#fact h5{
    margin-top: 7%;
    font-size: 1.2vw;
    border-bottom: 2px solid black ;
}
#fact h4{
    position: absolute;
    margin-top: 13%;
    margin-left: 2%;
    font-size: 1.2vw;
    border-bottom: 2px solid black ;
}
#page5{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(244, 251, 244);
}
#hoppyphotu img{
    margin-top: -3%;
}
#hoppyphotu h3{
    position: absolute;
    font-size: 2vw;
    border-bottom: 1px solid black;
    margin-left: 17%;
}
#hoppyphotu p{
    z-index: 999;
    position: absolute;
    margin-top: 3%;
    font-family: Glitten;
    margin-left: 15%;
    margin-right: 73%;
}
#blackphotu img{
   width: 39%;
   height: 50%;
    margin-top: 1%;
    margin-left: 56%;
}
#blackphotu h3{
    color: white;
    font-size: 2vw;
    position: absolute;
    border-bottom: 1px solid rgb(255, 253, 253);
    margin-left: 74%;
    margin-top: 3%;
}
#blackphotu p{
    z-index: 999;
    position: absolute;
    margin-top: 3%;
    font-family: Glitten;
    margin-left: 70%;
    color: white;
    margin-top: 7%;
    margin-right: 10%;
}
#hoppyphotu2 img{
    margin-top: 20%;
    margin-left: 25%;
}
#hoppyphotu2 h3{
    position: absolute;
    font-size: 2vw;
    border-bottom: 1px solid black;
    margin-left: 35%;
    margin-top: 23%;
}
#hoppyphotu2 p{
    z-index: 999;
    position: absolute;
    margin-top: 27%;
    font-family: Glitten;
    margin-left: 30%;
    margin-right: 54%;
}
#page6{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(244, 251, 244);
}
#page6 img{
    width: 20%;
    height: 60%;
    margin-left: 15%;
    position: absolute;
    margin-top: -9%;
    transform: rotate(350deg);
}
#page6 h4{
    position: absolute;
    font-size: 2vw;
    font-family: Glitten;
    margin-left: 50%;
    margin-top: 20%;
}
#page6 h2{
    position: absolute;
 font-size: 4vw;
 margin-left: 43%;
 margin-top: 23%;
}
#page6 h6{
    position: absolute;
    font-size: 1.5vw;
    font-family: Glitten;
    margin-left: 50%;
    margin-top: 40%;
}
#page7{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(244, 251, 244);
}
#page7 h1{
font-size: 11vw;
color: #0b72ad;
margin-top: 1%;
margin-left: 19%;
}
#page7 img{
    width: 100%;
    height: 84%;
    margin-left: 0%;
    background: linear-gradient(to bottom,#0b72ad,rgb(136, 194, 218));
    margin-top: 12%;
}
#page7 #dogdad{
    width: 25%;
    height: 55%;
    margin-top: 15%;
    margin-left: 40%;
}
#page8{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(244, 251, 244);
}
#photu{
    width: 40%;
    height: 65%;
    background-position: center;
    background-size: cover;
    border: 2px dotted teal;
    background-image: url(https://lagunitas.com/wp-content/uploads/2021/07/MicrosoftTeams-image-33-1024x683.jpg);
    position: absolute;
    margin-top: 5%;
    margin-left: 6%;
}
#page8 h6{
    font-family: Glitten;
    font-size: 1.5vw;
    margin-left: 70%;
    position: absolute;
    margin-top: 7%;
}
#page8 h2{
    font-size: 3.5vw;
    margin-left: 60%;
    position: absolute;
    margin-top: 10%;
}
#page8 p{
    position: absolute;
    font-family: Glitten;
    margin-top: 17%;
    margin-left: 55%;
    margin-right: 5%;

}